In [29]:
#Question 1

import pandas as pd

df = pd.DataFrame({
    'name' : ['shivam','tarun','shantanu','ashutosh'],
    'age' : [21,21,22,22],
    'mail id' : ['shivammaggu1@gmail.com','skipperbhatt@gmail.com','mangalam.sms@gmail.com','ashuji0612@gmail.com'],
    'phone no' : ['9045777780','9412919681','9898567544','9997878242']
})
print("original dataframe :\n" ,df)

df2 = pd.DataFrame({'name' : ['naman'], 'age' : [22], 'mail id' : ['naman@.com'],'phone no' : ['9878787851']})
print("new information :\n" ,df2)

print("current dataframe :\n")
pd.concat([df,df2])

original dataframe :
    age                 mail id      name    phone no
0   21  shivammaggu1@gmail.com    shivam  9045777780
1   21  skipperbhatt@gmail.com     tarun  9412919681
2   22  mangalam.sms@gmail.com  shantanu  9898567544
3   22    ashuji0612@gmail.com  ashutosh  9997878242
new information :
    age     mail id   name    phone no
0   22  naman@.com  naman  9878787851
current dataframe :

   age                 mail id      name    phone no
0   21  shivammaggu1@gmail.com    shivam  9045777780
1   21  skipperbhatt@gmail.com     tarun  9412919681
2   22  mangalam.sms@gmail.com  shantanu  9898567544
3   22    ashuji0612@gmail.com  ashutosh  9997878242
0   22              naman@.com     naman  9878787851

In [38]:
#Question 2

import pandas as pd

url ='https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv'
df = pd.read_csv(url)
print('first five rows of dataframe =\n')
df.head()

first five rows of dataframe =

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11/1/2007,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,11/2/2007,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,11/3/2007,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,11/4/2007,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,11/5/2007,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [39]:
print('first ten rows of dataframe =\n')
df.head(10)

first ten rows of dataframe =

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11/1/2007,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,11/2/2007,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,11/3/2007,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,11/4/2007,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,11/5/2007,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
5,11/6/2007,Canberra,6.2,16.9,0.0,5.8,8.2,SE,44.0,SE,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No
6,11/7/2007,Canberra,6.1,18.2,0.2,4.2,8.4,SE,43.0,SE,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No
7,11/8/2007,Canberra,8.3,17.0,0.0,5.6,4.6,E,41.0,SE,...,57,1026.2,1024.2,6,7,12.1,15.5,No,0.0,No
8,11/9/2007,Canberra,8.8,19.5,0.0,4.0,4.1,S,48.0,E,...,48,1026.1,1022.7,7,7,14.1,18.9,No,16.2,Yes
9,11/10/2007,Canberra,8.4,22.8,16.2,5.4,7.7,E,31.0,S,...,32,1024.1,1020.7,7,1,13.3,21.7,Yes,0.0,No

In [40]:
print('first basic statistics dataframe =\n')
df.describe(include = 'all')

first basic statistics dataframe =

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
count,366,366,366.000000,366.000000,366.000000,366.000000,363.000000,363,364.000000,335,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366,366.000000,366
unique,366,1,NaN,NaN,NaN,NaN,NaN,16,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2
top,5/4/2008,Canberra,NaN,NaN,NaN,NaN,NaN,NW,NaN,SE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,No
freq,1,366,NaN,NaN,NaN,NaN,NaN,73,NaN,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,NaN,300
mean,NaN,NaN,7.265574,20.550273,1.428415,4.521858,7.909366,NaN,39.840659,NaN,...,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,NaN,1.428415,NaN
std,NaN,NaN,6.025800,6.690516,4.225800,2.669383,3.481517,NaN,13.059807,NaN,...,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,NaN,4.225800,NaN
min,NaN,NaN,-5.300000,7.600000,0.000000,0.200000,0.000000,NaN,13.000000,NaN,...,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,NaN,0.000000,NaN
25%,NaN,NaN,2.300000,15.025000,0.000000,2.200000,5.950000,NaN,31.000000,NaN,...,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,NaN,0.000000,NaN
50%,NaN,NaN,7.450000,19.650000,0.000000,4.200000,8.600000,NaN,39.000000,NaN,...,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,NaN,0.000000,NaN
75%,NaN,NaN,12.500000,25.500000,0.200000,6.400000,10.500000,NaN,46.000000,NaN,...,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,NaN,0.200000,NaN
max,NaN,NaN,20.900000,35.800000,39.800000,13.800000,13.600000,NaN,98.000000,NaN,...,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,NaN,39.800000,NaN

In [41]:
print('last five rows of dataframe =\n')
df.tail()

last five rows of dataframe =

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
361,10/27/2008,Canberra,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,10/28/2008,Canberra,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,10/29/2008,Canberra,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,10/30/2008,Canberra,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,10/31/2008,Canberra,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [42]:
print('last ten rows of dataframe =\n')
df.tail(10)

last ten rows of dataframe =

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
356,10/22/2008,Canberra,3.4,15.0,0.8,4.8,11.7,S,70.0,S,...,24,1023.4,1023.1,1,5,8.3,14.3,No,0.0,No
357,10/23/2008,Canberra,3.2,18.0,0.0,7.4,12.2,SSE,48.0,SSE,...,25,1026.6,1022.8,1,2,9.1,16.3,No,0.0,No
358,10/24/2008,Canberra,0.9,20.7,0.0,5.4,8.4,NNW,39.0,SSE,...,29,1023.2,1018.4,3,8,9.4,19.1,No,0.0,No
359,10/25/2008,Canberra,3.3,25.5,0.0,5.2,10.8,N,43.0,N,...,16,1018.8,1014.6,0,3,12.0,24.8,No,0.0,No
360,10/26/2008,Canberra,7.9,26.1,0.0,6.8,3.5,NNW,43.0,NaN,...,20,1017.6,1014.2,5,8,16.3,25.9,No,0.0,No
361,10/27/2008,Canberra,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,10/28/2008,Canberra,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,10/29/2008,Canberra,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,10/30/2008,Canberra,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,10/31/2008,Canberra,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No